<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <!-- encoding must be specified within the first 512 bytes
        www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <!-- Chrome Frame is only invoked if meta element for
        compatibility mode is within the first 1K bytes
        code.google.com/p/chromium/issues/detail?id=23003 -->

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href={{ media_url("img/apple-touch-icon-57x57.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ media_url("img/apple-touch-icon-114x114.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ media_url("img/apple-touch-icon-72x72.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ media_url("img/apple-touch-icon-144x144.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href={{ media_url("img/apple-touch-icon-60x60.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href={{ media_url("img/apple-touch-icon-120x120.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href={{ media_url("img/apple-touch-icon-76x76.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href={{ media_url("img/apple-touch-icon-152x152.png") }} />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-196x196.png") }} sizes="196x196" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-96x96.png") }} sizes="96x96" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-32x32.png") }} sizes="32x32" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-16x16.png") }} sizes="16x16" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-128.png") }} sizes="128x128" />
  <meta name="application-name" content="linux.conf.au 2018"/>
  <meta name="msapplication-TileColor" content="#9e9e9e" />
  <meta name="msapplication-TileImage" content={{media_url('mstile-144x144.png') }} />
  <meta name="msapplication-square70x70logo" content={{media_url('mstile-70x70.png') }} />
  <meta name="msapplication-square150x150logo" content={{media_url('mstiyle-150x150.png') }} />
  <meta name="msapplication-wide310x150logo" content={{media_url('mstile-310x150.png') }} />
  <meta name="msapplication-square310x310logo" content={{media_url('mstile-310x310.png') }} />
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="https://cdn.pride.codes/css/bar_body.css">
  <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/custom.css') }}">
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
  <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
    {% block header -%}
    <header>
      {% block nav %}
      {% from "macros.j2" import render_nav with context %}
      {{ render_nav(menu) }}
      {% endblock nav %}
    </header>
    {%- endblock header %}

    {% block container %}
    <section class="content">
      {%- if resource.meta.heading -%}
      <h1 class="heading-motif {{ resource.meta.motif }}">{{ resource.meta.heading }}</h1>
      {%- endif -%}
      {% block main %}
      {% endblock main %}
    </section>
    {% endblock container %}

    <footer class="row">
      <div class="col ml-auto">
        <nav class="footer" role="navigation">
          <a href="#">Back to top</a><br>
          &copy; 2017 linux.conf.au and <a href="http://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds<br>
          <a href="https://gitlab.com/LCA2018/lca2018-static">Website Source</a> | <a href="https://gitlab.com/LCA2018/lca2018-static/issues">Report an issue</a> | <a href="{{content_url('attributions')}}">Acknowledgements</a><br/>
        </nav>
      </div>
    </footer>
  </div> <!--! end of #container -->
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a proþtocol relative URL; fall back to local if necessary -->
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-3.2.1.min.js') }}">\x3C/script>')</script>
  {% endblock jquery %}
  <script src="{{ media_url('js/libs/popper.min.js') }}"></script>
  <script src="{{ media_url('js/libs/bootstrap.min.js') }}"></script>

  {% block scripts %}
  {% endblock scripts %}

  <!--[if lt IE 7 ]>
    <script src="{{ media_url('js/libs/dd_belatedpng.js') }}"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
