---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 venue
heading: Venue
motif: centralpark
---
{% markdown %}
Our venue this year is the [University of Technology Sydney](https://www.uts.edu.au/) (UTS).

Located in the heart of Sydney, UTS is one of Australia's top universities.
We thank them for accommodating linux.conf.au 2018.

The conference will be held in buildings within the UTS Broadway campus.
These buildings include CB01, CB06, CB07 and CB11.
Please refer to [UTS Maps](http://maps.uts.edu.au/map.cfm) for building locations.
Further details of rooms being used will be provided closer to the beginning of the conference.
{% endmarkdown %}

<div class="map-responsive">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=151.1968517303467%2C-33.88521516609754%2C151.20208740234375%2C-33.88141195904717&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/-33.88331/151.19947">View Larger Map</a></small>
</div>
